<li class="list-group-item">
  <h4 class="list-group-item-heading">
    <!-- Povezave na stran posamezne ovce ne napišemo direktno, temveč uporabimo
    značko url, ki naslov ustvari glede na pravila v datoteki urls.py. -->
    <a href="{% url 'timeline' bleat.author.shortname %}">
      {{ bleat.author.name }}
    </a>
    <small>
      @{{ bleat.author.shortname }}
      ·
      {{ bleat.pretty_time }}
    </small>
  </h4>
  <p class="list-group-item-text">
    {{ bleat.message }}
  </p>
</li>
