{% extends "base.html" %}
<!-- Predloga razširja osnovno predlogo, zato napišemo le, kaj bo v posameznih
blokih. -->

{% block contents %}
  <ul class="list-group">
    <!-- V predlogi izpišemo vsako blejanje iz podanega seznama blejanj. Ker
    se blejanje v enaki obliki pojavlja na začetni strani in na strani posamezne
    ovce, jo opišemo v predlogi bleat.html in tukaj le vključimo. -->
    {% for bleat in bleats %}
      {% include "bleat.html" %}
    {% endfor %}
  </ul>
{% endblock contents %}

{% block sidebar %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Prijavljene ovce</h3>
    </div>
    <ul class="list-group">
      {% for sheep in all_sheep %}
        {% include 'sheep.html' %}
      {% empty %}
        <li class="list-group-item">
          Zaenkrat ni prijavljena nobena ovca.
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock sidebar %}
